{% extends 'base.html' %}

{% block meta %}
    <title>Detail Makanan</title>
{% endblock meta %}

{% block content %}
    <div class="w-full min-h-screen flex py-12 px-20 flex-col gap-16">
        <div class="w-full h-[50vh] flex h-fit">
            <section class="basis-1/3">
                <figure class="aspect-square rounded-xl overflow-hidden">
                    <img src="{{ makanan.img_url }}" alt="" class="h-full object-cover object-center">
                </figure>
            </section>
            <section class="basis-2/3 px-12 py-2 flex flex-col">
                <h2 class="text-5xl font-semibold">{{ makanan.nama }}</h2>
                <div class="text-1xl font-thin">
                    <i class="fa-solid fa-star"></i>
                    <span>({{ rating|floatformat:1 }})</span>
                </div>

                <h3 class="text-2xl font-bold mt-5">Rp{{ makanan.harga }}</h3>
                <div class="card mt-5">
                    <div class="card-body flex-row bg-primary px-5 py-3 max-w-xs text-primary-content justify-between items-center rounded-xl">
                        <h5 class="">{{ makanan.toko.name }}</h5>
                        <a href="{% url 'toko:info_toko' toko_id=makanan.toko.pk %}" class="btn btn-secondary">Kunjungi Toko</a>
                    </div>
                </div>
                <p class="mt-5 text-lg">{{ makanan.deskripsi }}</p>
                {% if is_penjual == True %}
                    <a href="{% url 'makanan:edit' makanan_id=makanan.pk %}" class="btn btn-primary max-w-xs mt-5 self-end"                                                                 `                                                                                       aria-required="false"                                                                                                                                               a>
                        Edit Makanan
                    </a>
                {% else %}
                    <button class="btn btn-primary max-w-xs mt-5 self-end" value="{{ makanan.pk }}" onclick="addToCart(this)">
                        Tambahkan ke Keranjang
                    </button>
                {% endif %}
            </section>
        </div>
        <div class="">
            <h3 class="text-xl font-bold">Reviews</h3>
            <div>
                {% for review in reviews %}
                    <div class="mb-5 mt-5">
                        <div class="card bg-secondary">
                            <div class="card-body">
                                <h5 class="card-title">{{ review.user }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Rating: {{ review.nilai }}</h6>
                                <div class="stars" data-nilai="{{ review.nilai }}" style="font-size: 24px;">
                                </div>
                                <p class="card-text">Komentar: {{ review.komentar }}</p>
                                {% if review.reply %}
                                <p class="card-text"><small class="text-muted">Reply: {{ review.reply }}</small></p>
                                {% else %}
                                <p class="card-text"><small class="text-muted">Penjual belum memberikan balasan</small></p>
                                {% if user.profile.role == 'penjual' and toko.pk == review.makanan.toko.pk %}
                                    <a href="{% url 'review:reply_review' review.pk %}" class="btn btn-primary">Balas</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}