{% extends 'base.html' %}

{% block meta %}
    <title>Tambah Makanan Baru</title>
{% endblock meta %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Tambah Makanan Baru" />
        </td>
      </tr>
    </table>
  </form>
  
  
  {% endblock content %}