{% extends 'base.html' %}

{% block meta %}
    <title>Info Toko</title>
{% endblock meta %}

{% block content %}
    <main class="w-full min-h-screen p-14">
        <h1 class="text-xl font-semibold mb-5">Menu</h1>
        <div class="w-full grid grid-cols-5 gap-10">
            {% for makanan in menu %}
                <a href="{% url 'makanan:detail' makanan_id=makanan.pk %}" class="card h-fit bg-primary text-primary-content hover:scale-[1.05] transition-all">
                    <figure>
                        <img src="{{ makanan.img_url }}" alt="car!"/>
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{{ makanan.nama }}</h2>
                        <p>{{ makanan.deskripsi }}</p>
                        <div class="card-actions justify-end">
                            <button id="cart-{{ makanan.pk }}" value="{{ makanan.pk }}" onclick="addToCart(this)" class="btn btn-accent">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </main>
{% endblock content %}