{% extends 'base.html' %}

{% block meta %}
    <title>Toko {{ user.profile.nama_lengkap }}</title>
{% endblock meta %}

{% block content %}
    <div class="w-full min-h-screen flex">
        <section class="flex justify-center p-5 basis-1/4">
            <div class="stats stats-vertical shadow">

                <div class="stat">
                    <div class="stat-title">Downloads</div>
                    <div class="stat-value">31K</div>
                    <div class="stat-desc">Jan 1st - Feb 1st</div>
                </div>

                <div class="stat">
                    <div class="stat-title">New Users</div>
                    <div class="stat-value">4,200</div>
                    <div class="stat-desc">↗︎ 400 (22%)</div>
                </div>

                <div class="stat">
                    <div class="stat-title">New Registers</div>
                    <div class="stat-value">1,200</div>
                    <div class="stat-desc">↘︎ 90 (14%)</div>
                </div>

            </div>
        </section>
        <div class="divider divider-horizontal"></div>
        <section class="basis-3/4 p-8">
            <div class="flex justify-between items-center mb-10">
                <h2 class="text-3xl font-bold mb-5">Toko</h2>
                <a href="{% url 'toko:create_toko' %}" class="btn btn-secondary px-10">+ Toko</a>
            </div>
            <section class="grid grid-cols-2 gap-10">
                {% for t in toko %}
                    <div class="card h-fit bg-primary text-primary-content">
                        <div class="card-body">
                            <h2 class="card-title">{{ t.name }}</h2>
                            <h3>ID: {{ t.pk }}</h3>
                            <div class="card-actions justify-end">
                                <button class="btn">Atur Toko!</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </section>
    </div>
{% endblock content %}