#container {
  --size: 25vmin;
  --psize: calc(var(--size) / 2);
  --c1: oklch(var(--s));
  --c2: oklch(var(--a));
  --c3: oklch(var(--b3));
  --bg: var(--c3);
  --d: 10000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);

  background-color: var(--bg);
  background-image:
    linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
  background-size: var(--size) var(--size);
  background-position:
    calc(var(--psize) *  1) calc(var(--psize) *  0),
    calc(var(--psize) * -1) calc(var(--psize) *  1),
    calc(var(--psize) *  1) calc(var(--psize) * -1),
    calc(var(--psize) * -1) calc(var(--psize) *  0);
  animation:
    color var(--d) var(--e) infinite,
    position var(--d) var(--e) infinite;
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}

@keyframes position {
  0% {
    background-position:
      calc(var(--psize) *  1) calc(var(--psize) *  0),
      calc(var(--psize) * -1) calc(var(--psize) *  1),
      calc(var(--psize) *  1) calc(var(--psize) * -1),
      calc(var(--psize) * -1) calc(var(--psize) *  0);
  }
  25% {
    background-position:
      calc(var(--psize) *  1) calc(var(--psize) *  4),
      calc(var(--psize) * -1) calc(var(--psize) *  5),
      calc(var(--psize) *  1) calc(var(--psize) *  3),
      calc(var(--psize) * -1) calc(var(--psize) *  4);
  }
  50% {
    background-position:
      calc(var(--psize) *  3) calc(var(--psize) * 8),
      calc(var(--psize) * -3) calc(var(--psize) * 9),
      calc(var(--psize) *  2) calc(var(--psize) * 7),
      calc(var(--psize) * -2) calc(var(--psize) * 8);
  }
  75% {
    background-position:
      calc(var(--psize) *  3) calc(var(--psize) * 12),
      calc(var(--psize) * -3) calc(var(--psize) * 13),
      calc(var(--psize) *  2) calc(var(--psize) * 11),
      calc(var(--psize) * -2) calc(var(--psize) * 12);
  }
  100% {
    background-position:
      calc(var(--psize) *  5) calc(var(--psize) * 16),
      calc(var(--psize) * -5) calc(var(--psize) * 17),
      calc(var(--psize) *  5) calc(var(--psize) * 15),
      calc(var(--psize) * -5) calc(var(--psize) * 16);
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}
