body::-webkit-scrollbar {
    width: 0;
}

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: inherit !important;
}

.outline-secondary {
    outline-color: oklch(var(--a));
}