{% extends 'base.html' %}

{% block meta %}
    <title>Academeats Forum</title>
{% endblock meta %}

{% block content %}
    <div class="drawer lg:drawer-open -mt-24">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
        <div class="drawer-content flex flex-row pt-32 pl-14 pr-3 pb-10">
            <main class="grow flex flex-col gap-4">
                <label class="input input-bordered rounded-full px-8 flex items-center gap-2 mb-2">
                    <input type="text" class="grow" placeholder="Search forum"/>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                         class="w-4 h-4 opacity-70">
                        <path fill-rule="evenodd"
                              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                              clip-rule="evenodd"></path>
                    </svg>
                </label>
                {% for forum in page_obj %}
                <section class="card w-full bg-secondary/20 shadow-xl hover:scale-[1.02] transition-all cursor-pointer">
                    <a href="{% url 'forum:page' forum.pk %}" class="block absolute w-full h-full rounded-xl z-10"></a>
                    <div class="card-body flex-row items-center justify-between">
                        <div class="max-w-[70%] flex items-center gap-6">
                            <img src="{{ forum.kreator.profile.pfp_url }}" alt="" class="w-10 h-10 rounded-full outline outline-2 outline-offset-2 outline-secondary">
                            <div class="flex flex-col gap-2 text-sm">
                                <h3 class="font-bold text-lg">{{ forum.judul }}</h3>
                                <div class="flex gap-2">
                                    {% for kategori in forum.kategori.all %}
                                        <div class="badge badge-primary py-3">{{ kategori.nama }}</div>
                                    {% endfor %}
                                </div>
                                <span>
                                    <a href="{% url 'user-profile:' %}" class="font-bold">{{ forum.kreator }}</a>
                                    <span>membuat forum pada <span id="waktu-{{ forum.pk }}">{{ forum.created_at }}</span></span>
                                </span>
                            </div>
                        </div>
                        <div class="flex gap-4">
                            <i class="fa-regular fa-comment text-lg"></i>
                            <span>50</span>
                        </div>
                    </div>
                </section>
                {% endfor %}
            </main>
            <aside class="flex flex-col max-w-sm py-2 px-9">
                <div class="rounded-xl bg-secondary p-3">
                    <h3 class="font-bold text-lg">Forum buatanmu</h3>
                    <ul class="p-3 w-full flex flex-col gap-1">
                        {% for forum in forum_dibuat %}
                            <li>
                                <a href="{% url 'forum:page' forum.pk %}" class="link link-hover">{{ forum.judul }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
            <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>

        </div>
        <div class="drawer-side pt-24">
            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="px-6 min-w-md text-base-content">
                <li class="w-full">
                    <a href="{% url 'forum:create-forum' %}" class="btn btn-primary w-full btn-md my-4 rounded-full gap-2 items-center">
                        <i class="fa-regular fa-plus"></i>
                        <span>Buat Forum</span>
                    </a>
                </li>
                <li class="font-bold">Categories</li>
                <ul class="menu">
                    <!-- Sidebar content here -->
                    {% for category in categories %}
                        <li class="flex flex-col">
                            <a>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                <span class="self-start text-secondary-content">{{ category.nama }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <li class="font-bold">Popular Forum</li>

            </ul>
        </div>
    </div>
{% endblock content %}