{% extends 'base-non-navbar.html' %}

{% block meta %}
    <title>Login</title>
    {% load static %}
    <link href="{% static 'css/background-register-login.css' %}" rel="stylesheet" type="text/css"/>
{% endblock meta %}

{% block base_content %}
    <main id="container" class="w-full h-[100vh] flex justify-evenly items-center overflow-hidden bg-gradient-to-br from-base-100/20 to-base-300">
        <div class="w-full h-full bg-base-300/50 absolute backdrop-blur-[3px] z-2"></div>
        <div class="w-1/3 h-full flex flex-col justify-center items-center z-10">
            {% load static %}
            <img src="{% static 'img/Hamburger1.png' %}" alt="Hamburger 3D" class="h-3/4">
        </div>
        {% if messages %}
            <div class="absolute left-2 bottom-2 flex flex-col">
                {% for message in messages %}
                    <div role="alert" class="alert alert-error">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                             viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="card justify-center w-1/3 h-4/5 glass text-neutral rounded-xl z-10">
            <form method="POST" class="">
            {% csrf_token %}
                <div class="card-body w-full gap-8 items-stretch">
                    <div class="flex flex-col text-center gap-2">
                        <h2 class="card-title text-3xl block text-center font-bold text-secondary-content">Masuk sekarang</h2>
                        <p >Dapatkan kemudahan memesan makanan!</p>
                    </div>

                    <div class="flex flex-col gap-3">
                        <label for="username" class="input input-md input-bordered backdrop-blur bg-base-100/50 rounded-full flex items-center gap-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                 class="w-4 h-4 opacity-70">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"></path>
                            </svg>
                            <input type="text" id="username" name="username" class="grow text-secondary-content" placeholder="Username" autocomplete="username"/>
                        </label>
                        <label for="password" class="input input-md input-bordered backdrop-blur bg-base-100/50 invalid:input-danger rounded-full flex items-center gap-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                 class="w-4 h-4 opacity-70">
                                <path fill-rule="evenodd"
                                      d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <input type="password" id="password" name="password" class="grow text-secondary-content" placeholder="Password"/>
                        </label>
                        <button type="submit" class="btn btn-primary rounded-full w-1/2 self-center mt-2">Masuk!</button>
                    </div>
                    <div class="divider divider-neutral -my-3">ATAU</div>
                    <div class="font-semibold text-center">
                        Belum punya akun? <a href="{% url 'user-profile:register' %}" class="text-primary">Daftar</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock base_content %}
